category_encoders
gensim
lightgbm
joblib
matplotlib
networkx
nltk
node2vec
numpy
opencv-contrib-python
pandas
Pillow
scikit-image
scikit_learn
scipy
seaborn
tensorflow
tensorflow_hub
torch
torchvision
transformers
xgboost
